Asp_e/App_WebReferences/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/GameShpere/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="GetDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SqlStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="New_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="New_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="New_UserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="user" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="User_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="New_Cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="cart" nillable="true" type="q3:Cart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="New_CartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="New_CartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetUserResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CartCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_CartCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_CartCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_from_cart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cart_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_from_cartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_from_cartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Quantity_Minus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cart_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Quantity_MinusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Quantity_MinusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Quantity_Plus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Cart_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Quantity_PlusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Quantity_PlusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="visa" nillable="true" type="q5:CreditCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Credit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Card_number" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Total" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_CreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_CreditResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="Order" nillable="true" type="q6:Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_OrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_OrdersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User_Id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DT" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Genre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GDb" nillable="true" type="q7:Genre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_GenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_GenreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Genre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GDb" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_GenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_GenreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Genre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GDb" nillable="true" type="q8:Genre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_GenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_GenreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NewGameT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GD" nillable="true" type="q9:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_NewGameTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Add_NewGameTResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Game">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Game_Genre_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_GameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_GameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_GameT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GD" nillable="true" type="q10:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_GameTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Update_GameTResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PicName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPicResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>